/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Misc */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
* {
    @include box-sizing( border-box );
    border: 0;
    margin: 0;
    padding: 0;
}
.left {
    float: left;
    left: 0;
}
.right {
    float: right;
    right: 0;
}
html.esp {
    .eng {
        display: none;
    }
}
html.eng {
    .esp {
        display: none;
    }
}
.touch {
    @include user-select( none );
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}
.squeeze {
    @include font-thin();
}
