/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Misc */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
* {
    @include box-sizing( border-box );
    border: 0;
    margin: 0;
    padding: 0;
}
.left {
    float: left;
}
.right {
    float: right;
}
html.esp {
    .eng {
        display: none;
    }
}
html.eng {
    .esp {
        display: none;
    }
}
body {
    position: relative;
    text-align: center;

    &.fillY img.fillX,
    &.fillX img.fillY,
    &.slim img.fillY {
        display: none;
    }

    &.fillY, &.slim {
        background-image: url('../images/full.jpg');
        background-position: 50% 0%;
        background-size: auto 100%;

        .wrapper {
            height: 100%;
            //min-height: 840px;
            width: auto;
        }
    }

    &.slim {
        .bkgrs img {
            position: relative;
            float: right;
        }
    }
    &.fillX {
        background-image: url('../images/pages/p7.jpg');
        background-size: 100%;

        .wrapper {
            height: auto;
            width: 100%;
            //min-width: 1024px;
        }
    }
    .scroll {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        & > div {
            @include transform( translateZ(0) );
            position: absolute;
            width: 100%;
        }
    }
}
.gapper {
    visibility: hidden;
}
.touch {
    @include user-select( none );
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}
.wrapper {
    $num: 8;
    $fact: 2;
    $fract: 1 / $fact;
    $fracto: $num - (1 - ($fract));

    _num: $num;
    _fact: $fact;
    _fract: $fract;
    _fracto: $fracto;

    // @include edger2(yellow);
    display: inline-block;
    position: relative;
    text-align: left;

    #Pics {

        > div {
            height: $num * 100%;
            $mist: rgba(33,33,33,0.3);

            img {
                display: inherit;
                height: 100 / $num * 1%;

                .fillX & {
                    width: 100%;
                }
            }
        }
    }
    #Text {

        > div {
            height: $fracto * $fact * 100% ;

            section {
                height: 100% / $fracto;
                position: relative;

                article {
                    bottom: 100% / $fact;
                    min-height: 100% / ($fact * 2); // 50%
                }
            }
        }
    }
}
