/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Misc */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
* {
    @include box-sizing( border-box );
    border: 0;
    margin: 0;
    padding: 0;
}
.left {
    float: left;
}
.right {
    float: right;
}
html.esp {
    .eng {
        display: none;
    }
}
html.eng {
    .esp {
        display: none;
    }
}
body {
    position: relative;
    text-align: center;

    &.fillY img.fillX,
    &.fillX img.fillY,
    &.slim img.fillY {
        display: none;
    }

    &.fillY, &.slim {
        background-image: url('../images/full.jpg');
        background-position: 50% 0%;
        background-size: auto 100%;

        .wrapper {
            height: 100%;
            min-height: 100%;
            width: auto;
            max-width: 100%;
        }
    }

    &.slim {
        .bkgrs img {
            position: relative;
            float: right;
        }
    }
    &.fillX {
        background-image: url('../images/pages/p7.jpg');
        background-size: 100%;

        .wrapper {
            height: auto;
            width: 100%;
            //min-width: 1024px;
        }
    }
    .scroll {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        & > div {
            @include transform( translateZ(0) );
            position: absolute;
            width: 100%;
        }
    }
}
.gapper {
    visibility: hidden;
}
.touch {
    @include user-select( none );
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}
