// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* ROTO / Base */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

$count: 5 !default;
$peg: 1rem !default;

.iS-port {
    margin: auto;
    overflow: hidden;
    position: relative;
    text-align: center;

    .loading & {
        visibility: hidden;
    }
    .iS-view {
        @include text-size-adjust( none );
        @include transition( 0.5s cubic() );
        @include user-select( none );
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-touch-callout: none;
        height: 100%;
        position: relative;
        width: 100% * $count;

        & > * {
            background-color: #eee;
            background-size: 100% 100%;
            cursor: -webkit-grab;
            float: left;
            position: relative;
            width: 100% / $count;
        }
    }
    .iS-proxy {
        background-color: rgba(255, 255, 255, 0.5);
        bottom: $peg;
        box-sizing: content-box;
        cursor: pointer;
        height: $peg;
        left: $peg;
        position: absolute;
        width: $peg * 2 * $count;
        z-index: 9;
    }
    .iS-peg {
        background-color: rgba(255, 255, 255, 0.5);
        height: $peg;
        left: 0;
        position: absolute;
        width: $peg;
    }
}

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
