// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* PROJ / Base */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html {
    font-size: 18px;

    body {
        background-color: black;
        color: white;
        font-family: Myriad Pro, sans-serif;
        font-weight: 400;
    }
    div {
        background-color: gray;
        clear: both;
        float: left;
        margin: 1em;
        padding: 0.5em 1.5em;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
        line-height: 1;
        margin: 0.25em 0;
    }
    h1, h2 {
        font-family: Archer, Georgia, serif;
    }
    h1 {
        text-transform: uppercase;
    }
    h3 {
        font-weight: 600;
        text-transform: uppercase;
    }
    h4 {
        font-weight: 500;
        font-style: italic;
    }
    sup {
        font-size: 60%;
    }
    strong {
        font-weight: 600;
    }
    p {
        font-size: 1;
        margin: 0.5em 0;
    }
    button {
        background-color: #be5a00;
        border: 1px solid white;
        color: white;
        font-family: Verdana;
        font-size: 14px;
        font-weight: 200;
        padding: 0.25em 0.5em;
    }
    button.play {
        background-color: white;
        border-radius: 6px / 12px;
        color: gray;
        opacity: 0.8;
        padding: 0.25em 0.75em;
    }
}

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
