// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* PROJ / Base */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html {
    font-size: 20px;

    body {
        background-color: gray;
        background-image: url('../images/p7.jpg');
        background-size: cover;
        background-attachment: fixed;
        color: white;
        font-family: Myriad Pro, sans-serif;
        font-weight: 400;
    }
    button {
        background-color: #be5a00;
        border: 1px solid white;
        color: white;
        font-family: Verdana;
        font-size: 13px;
        font-weight: 200;
        margin: 0.25em;
        padding: 0.375em 0.75em;
    }
    header, footer {
        position: fixed;
        text-align: center;
        width: 100%;
    }
    header {
        height: 10%;
    }
    footer {
        @include shadgrad();
        border-top: 3px solid gold;
        bottom: 0;
        height: 3%;

        p {
            background-color: #3e3e3e;
            font-size: 70%;
            margin-top: 1px;

            a {
                padding: 0.5em 2em;
                line-height: 2;

                &:hover {
                    background-color: #555;
                    cursor: pointer;
                }
            }
        }
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
        line-height: 1;
        margin: 0.5em 0;
    }
    h1, h2 {
        font-family: Archer, Georgia, serif;
        margin-bottom: 0.75em;
    }
    h1 {
        font-size: 220%;
    }
    h2 {
        font-size: 170%;
    }
    h3 {
        font-weight: 600;
        margin-top: 0.75em;
        text-transform: uppercase;
    }
    h4 {
        font-weight: 500;
        font-style: italic;
    }
    p {
        margin: 0.5em 0;
    }
    sup {
        font-size: 60%;
    }
    strong {
        font-weight: 600;
    }
}

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
