// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* PROJ / Custom */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

html, body {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
header {
    height: 15%;
    max-height: 100px;
    top: 0;

    .mini & {
        height: 12.5%;
    }
    img {
        @include nosel();
        height: 100%;
        margin: 0 0.5em;
    }
}
footer {
    @include nosel();
    @include transition( bottom 0.5s );
    bottom: -2em;
    padding-top: 1em;

    html:not(.mini) &.active, &:hover {
        bottom: 0;
    }
    .down {
        cursor: pointer;
        margin: -2em -1em 0.5em;
        position: fixed;
    }
    div {
        border-top: 3px solid gold;
        height: 1.6rem;

        p {
            background-color: #3e3e3e;
            font-size: 65%;
            margin-top: 0;

            a {
                cursor: pointer;
                line-height: 1.5rem;
                padding: 0.5em 1em;
                white-space: nowrap;

                &.active {
                    opacity: 0.5;
                }
                &:hover {
                    background-color: #555;
                }
            }
        }
    }
}

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
