// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* PROJ / Custom */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#Pics {
    text-align: center;
}

#Text {
    height: 90%;
    overflow: auto;
    position: fixed;
    top: 10%;
    width: 101%;
    -webkit-mask: -webkit-linear-gradient(transparent, black 20%, black 80%, transparent) top left / contain;

    div {
        @include shadgrad();
        clear: both;
        float: left;
        margin: 11em 10%;
        padding: 0.25em 1.5em 5em;
        position: relative;

        aside {
            left: 120%;
            position: absolute;
            top: 20%;
        }
    }
    p {
        font-size: 80%;
    }
}
.down {
    position: fixed;
    left: 50%;
    bottom: 5%;
}
// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
