// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* PROJ / Mini */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.mini {
    font-size: 75%;

    /* hide all... */
    br, footer nav, nav.pager {
        display: none;
    }
    header {
        height: 10%;
        max-height: 60px;

        img.right {
            margin-left: -3em;
        }
    }
    #Legal {
        article {
            min-width: 66%;
        }
    }
}

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
