// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* PROJ / Page */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

nav.pager {
    $w: 15px;
    $h: 28px;

    @include nosel();
    * {
        @include transition( opacity 0.5s );
    }
    bottom: 0;
    height: $num * $h;
    margin: auto;
    opacity: 0.2;
    position: absolute;
    right: $w * 1.5;
    top: 0;
    width: $w;
    z-index: 7;

    &.active {
        opacity: 0.8;
    }
    &:hover {
        opacity: 1;
    }
    a {
        background-image: url('../images/controls/dotted.png');
        cursor: pointer;
        display: inline-block;
        height: $h;
        opacity: 0.4;
        width: $w;

        &.active {
            opacity: 1.0;
        }
        &:hover {
            opacity: 1.6;

            .tip {
                display: initial;
            }
        }
        .tip {
            background-color: rgba(11, 11, 11, 0.5);
            border-radius: 1em;
            display: none;
            font-size: 10pt;
            opacity: 0;
            padding: 2px 2em 4px 1em;
            position: absolute;
            right: -3px;
            text-align: right;
            white-space: nowrap;
            z-index: -1;

            &:hover {
                opacity: 1;
            }
        }
    }
}
.wrapper {
    _num: $num;
    _fact: $fact;
    _fract: $fract;
    _fracto: $fracto;

    // @include edger2(yellow);
    display: inline-block;
    position: relative;
    text-align: left;

    #Pics {

        > div {
            height: $num * 100%;
            $mist: rgba(33,33,33,0.3);

            img {
                display: inherit;
                height: 100 / $num * 1%;

                .fillX & {
                    width: 100%;
                }
            }
        }
    }
    #Text {

        > div {
            height: $fracto * $fact * 100% ;

            section {
                height: 100% / $fracto;
                position: relative;

                article {
                    bottom: 100% / $fact;
                    min-height: 100% / ($fact * 2); // 50%
                }
            }
        }
    }
}

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
