// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* PROJ / Page */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

nav.pager {
    @include nosel();
    $num: 8;
    $w: 15px;
    $h: 28px;

    * {
        @include transition( opacity 0.5s );
    }
    bottom: 0;
    height: $num * $h;
    margin: auto;
    opacity: 0.2;
    position: absolute;
    right: $w * 1.5;
    top: 0;
    width: $w;

    &.active {
        opacity: 0.8;
    }
    &:hover {
        opacity: 1;
    }
    a {
        background-image: url('../images/controls/dotted.png');
        cursor: pointer;
        display: inline-block;
        height: $h;
        opacity: 0.4;
        width: $w;

        &.active {
            opacity: 1.0;
        }
        &:hover {
            opacity: 1.6;
        }
    }
}

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
