// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* PROJ / Text */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#Text {
    -webkit-mask: -webkit-linear-gradient(transparent 10%, black 20%, black 90%, transparent 99%) top left / contain;

    div.grad {
        @include shadgrad();
        clear: both;
        float: left;
        padding: 0.5em 2em 4em;
        position: absolute;

        .mini & {
            @include shadgrad(rgba(11, 11, 11, 0.75));
            padding: 0.25em 1.5em 4em;

            img {
                width: 50%;
            }
            h3, h4, p {
                font-size: 120%;
                line-height: 1.4;
            }
        }

        aside {
            left: 105%;
            position: absolute;
            top: 20%;
        }
    }
    p {
        font-size: 80%;
    }
}

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
